<div class="block_registration">
            <div class="registration_header">
                <button class="btn btn_close"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                  </svg>
                </button>
                <h1 style="font-family: CALIBRI;; margin: 0;">Регистрация</h1>
            </div>
            <hr style="width: 90%;margin: auto ; opacity: 0.5;">
            <div class="registration_body">
                <form action="" method="post" target="_blank" >
                    <div class="name_form">
                        <h3 class="header_text">Имя:</h3>
                        {{{userName}}}
                    </div>
                    <div class="surname_form">
                        <h3 class="header_text">Фамилия:</h3>
                        {{{userSurname}}}
                    </div>
                    <div class="email_form">
                        <h3 class="header_text">Почта:</h3>
                        {{{email}}}
                    </div>
                    <div class="password_form">
                        <h3 class="header_text">Пароль:</h3>
                        {{{password}}}
                    </div>
                    <div class="phone_form">
                        <h3 class="header_text">Номер телефона:</h3>
                        {{{phone}}}
                    </div>
                </form>
            </div>
            <div class="registration_footer">
                <button class="btn btn_registration">Зарегистрироваться</button>
                <button class="btn btn_has_account">Есть аккаунт?</button>
            </div>
        </div>
