<div class="message_list">
    <div class="friend_message">
        <div class="message_people_name">
                {{yourFriend}}:
        </div>
        <p class="message_for_people">
            {{messageForPeople}}
        </p>
        <div class="message_date">{{date1}}</div>    
    </div>
    <div class="you_message">
        <div class="message_people_name">
                {{you}}:
        </div>
        <p class="message_for_people">
            {{messageForYou}}
        </p>
        <div class="message_date">{{date2}}</div>    
    </div>
</div>
