<div class="menu">{{{menu}}}</div>
<div class="home">{{{home}}}</div>
<div class="edit_profile">{{{edit_profile}}}</div>
<div class="login">{{{login}}}</div>
<div class="registration">{{{registration}}}</div>
<div class="user_profile">{{{user_profile}}}</div>
<div class="error_404">{{{error_404}}}</div>
<div class="error_500">{{{error_500}}}</div>
